*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 15px;
    
}
.container > p{
    position: absolute;
    width: 133px;
    height: 25px;
    left: 24px;
    top: 20px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

.container img{
    width: 286.83px;
    height: 238px;
    position: absolute;
    top: 109px;
    left: 44px;
}
.container h1{
    width: 350px;
    height: 142px;
    position: absolute;
    top: 407px;
    left: 24px;
    right: 1px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 48px;
    line-height: 71.09px;
    letter-spacing: -0.035em;
    color: #333333;
}
.container .text p{
    width: 328px;
    height: 81px;
    position: absolute;
    top: 579px;
    left: 23px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.66px;
    letter-spacing: -0.035em;
    color: #4f4f4f;
    
}

.container .text .btn{
    width: 216px;
    height: 68px;
    position: absolute;
    top: 726px;
    left: 24px;
    background-color: #333333;
}
.container .text .btn p{
    width: 130px;
    height: 21px;
    position: absolute;
    left: 41px;
    top: 27px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 14px;
    line-height: 20.73px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #ffffff;
}

.container .text .end{
    width: 287px;
    height: 17px;
    position: absolute;
    top: 908px;
    left: 46px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    text-align: center;
    color: #BDBDBD;
    
}
.container .text .end a{
    font-weight: 700;
    text-decoration: none;
    color: #BDBDBD;
}
   
@media screen and (min-width:768px) {
    .container{
        min-width: 750px;
    }

    .container p{
        position: absolute;
        top: 40px;
        left: 77px;
    }
    .container img{
        width: 423.83px;
        height: 362px;
        position: absolute;
        top: 89px;
        left: 200px;
    }

    .container h1{
        width: 586px;
    height: 190px;
    position: absolute;
    top: 490px;
    left: 81px;
    right: 119px;
    font-size: 64px;
    line-height: 94.78px;
        
    }
    .container .text p{
        width: 380px;
        height: 108px;
        position: absolute;
        top: 695px;
        left: 85px;
        font-size: 24px;
        line-height: 35.54px;
    }
    .container .text .btn{
        position: absolute;
        top: 848px;
        left: 87px;
    }
    .container .text .end{
        position: absolute;
        top: 1039px;
        left: 224px;
    }
}
@media screen and (min-width:992px) {
    .container{
        min-width: 960px;
    }
 
}
@media screen and (min-width:1200px) {
    .container{
        min-width: 1200px;
    }
    .container p{
        position: absolute;
        top: 40px;
        left: 77px;
    }
    .container img{
        width: 539.22px;
        height: 447.43px;
        position: absolute;
        top: 265px;
        left: 77px;
    }

    .container h1{
        width: 586px;
        height: 190px;
        position: absolute;
        top: 265px;
        left: 735px;
        right: 119px;
        font-size: 64px;
        line-height: 94.78px;
        
    }
    .container .text p{
        width: 380px;
        height: 108px;
        position: absolute;
        top: 491px;
        left: 736px;
        font-size: 24px;
        line-height: 35.54px;
    }
    .container .text .btn{
        position: absolute;
        top: 663px;
        left: 740px;
    }
    .container .text .end{
        position: absolute;
        top: 1039px;
        left: 577px;
    }
}